.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(60, 45, 75);
}

.counter-head{
    color: wheat;
    font-size: 40px;
    font-weight: 5px;
}

.counter-button{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.counter-button button{
    margin: 20px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    color: rgb(69, 69, 167);
    cursor: pointer;
    padding: 4px 20px;
    border: 2px solid rgb(88, 70, 70);
    border-radius: 10%;
}